{% extends 'base.html.twig' %}

{% block title %}
    Obrigado
{% endblock %}

{% block content %}
    <h2>Thanks for your collaboration!</h2>
    <p>Please await for instructions from your teacher</p>
{% endblock %}

{% block stylesheets %}
{% endblock %}
